.poster {
  min-width: 80px;
  max-width: 100px;
  height: 120px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.cardImage {
  object-fit: contain;
  filter: blur(0.5rem);
}

.unblur {
  filter: blur(0);
  transition: filter 0.3s;
}

.container {
  display: flex;
  column-gap: 1.5rem;
  position: relative;
}

.content {
  display: flex;
  column-gap: 1.5rem;
  width: 100%;
  /* flex: 1 0 auto; */
}

.info {
  row-gap: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.genre {
  font-style: italic;
}

.buttons {
  display: flex;
  align-items: start;
  flex: 0 0 auto;
  gap: 1.5rem;

  /* position: absolute; */
  top: 0px;
  right: 0px;
}

.deleteButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  line-height: 1px;
  font-size: 1px;
  padding: 4px;
  min-height: 1px;
  border-radius: 4px;
  border: 0;
  background-color: transparent;
}

.deleteButtonIcon {
  width: 12px;
  height: 12px;
  background-color: #333;
  -webkit-mask: url('/icons/close.svg') no-repeat center;
  mask: url('/icons/close.svg') no-repeat center;
}
