@font-face {
  font-family: "SF Pro";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


:root {
  --orange: #FF5500;
  --light-orange: #FFA375;
  --white: #FFFFFF;
  --almost-white: #F5F5F5;
  --input-border: #E1E3E6;
  --text-primary: #1B1F23;
  --text-tertiary: #999FA6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--almost-white);
  font-size: 16px;
  color: #1B1F23;
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
   margin: 0;
   padding: 0;
   text-indent: 0;
   list-style: none;
   list-style-type: none;
}

#modal .modal-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00000088;
}

.page-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.header-main-container {
  display: flex;
  flex-direction: column;
}

.fh {
  display: flex;
  flex-direction: row;
}

.fv {
  display: flex;
  flex-direction: column;
}

.g0-5 {
  gap: 1rem;
}
.g1 {
  gap: 0.5rem;
}
.g1-5 {
  gap: 1.5rem;
}
.g2 {
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  padding: 1.5rem 2rem;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: spinnerrotation 1s linear infinite;
}
.spinner::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--orange) transparent;
}

@keyframes spinnerrotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.unblur {
  animation: unblur 1s linear;
}

@keyframes unblur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}
